{% extends 'admin_base.html.twig' %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name" value="{{ food.name }}">
        <input type="text" name="category" placeholder="Category" value="{{ food.category }}">
        <textarea  name="text" placeholder="Description" ></textarea>
        <input type="file" name="file">
        <button type="submit" class="btn btn-outline-success">Сохранить</button>
    </form>
{% endblock %}

{% block title %}

{% endblock %}

