{% extends 'base.html.twig' %}
{% block title %} Tilek Images {% endblock %}
{% block body %}

    <div class="text-center">
    <img src="https://avatars.mds.yandex.net/get-verba/3587101/2a0000017f732651455bd7426ae3a408e007/cattouchret" class="rounded" alt="..." width="1000" height="666">
    </div>

{% endblock %}